<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>CopyMatch.in</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CopyMatch.in</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://copymatch.in/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://copymatch.in/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Welcome to CopyMach.in, let's get started!</p>
    </blockquote>
  </figure>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
              <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">A Client</h5>
                    <p class="card-text">Are you seraching for a cost-effective copywriter for your business?</p>
                    {% if user.is_authenticated %}
                    <a href="http://copymatch.in/client/home" class="btn btn-primary">Click here to get started</a>
                    {% else %}
                    <a href="http://copymatch.in/client/" class="btn btn-primary">Click here to get started</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
              <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">A Copywriter</h5>
                    <p class="card-text">Are you a copywriter searching for clients and looking to grow your portfolio?</p>
                    {% if user.is_authenticated %}
                    <a href="http://copymatch.in/copywriter/home" class="btn btn-primary">Click here to get started</a>
                    {% else %}
                    <a href="http://copymatch.in/copywriter/" class="btn btn-primary">Click here to get started</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

